<div class="drop-box">
    <section ng-repeat="ingredient in ingredients" class="ingredient">
        <section class="card">
            <header>
                <div>{{ingredient.nutrient.name}}</div>
                <div>( {{ingredient.nutrient.components['energy'] * ingredient.weight / 1000 | number: 0}}kJ )</div>
            </header>
            <div class="macro-nutrients">
                <div>Proteins: {{ingredient.nutrient.components['proteins'] * ingredient.weight | number: 1}}g</div>
                <div>Carbs: {{ingredient.nutrient.components['carbs'] * ingredient.weight | number: 1}}g</div>
                <div>Fats: {{ingredient.nutrient.components['fats'] * ingredient.weight | number: 1}}g</div>
            </div>
        </section>
        <section>
            <input type="text" ng-model="ingredients[$index].weight">
            <div>g</div>
        </section>
    </section>
</div>