@import url('//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css');
@import url('//fonts.googleapis.com/css?family=Telex');

body {
    font-family: 'Telex', sans-serif;
    background-color: #e5e5e5;
}

body > header {
    background-color: #428bca;
    padding: 1rem;
}

body > header > h1 {
    color: white;
    font-size: 2rem;
    padding-bottom: 1rem;
}

body > header > h1:first-letter {
    text-transform: uppercase;
}

body > header > p {
    color: rgba(100%, 100%, 100%, 0.5);
}

body > main {
    padding: 1rem;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Telex, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, input, select, textarea {
    font-family: inherit;
    border: 0.0625rem solid #d8d8d8;
    border-radius: 0.1875rem;
    padding: 0.25rem;
    box-sizing: content-box;
    height: 1rem;
}

button {
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
    background-color: #71a7d6;
    border: 0.0625rem solid #4a93d8;
}

button:first-letter {
    text-transform: uppercase;
}








section.card {
    background-color: #ffffff;
    border: 0.0625rem solid #d8d8d8;
    border-radius: 0.1875rem;
    box-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 1.25rem;
    margin: 1rem;
    flex-shrink: 0;
    font-size: 0.9rem;
}

section.card > header {
    margin-bottom: 1rem;
    font-size: 1rem;
}

section.card > header:first-letter {
    text-transform: uppercase;
}

section.interactable {
    background-color: #f5f5f5;
}

section.large {
    width: 56rem;
}

section.medium {
    width: 27rem;
}

section.small {
    width: 17.3333rem;
}

section.tiny {
    width: 12.5rem;
}














table {
    border-collapse: collapse;
    width: 100%;
}

tr.selectable {
    cursor: pointer;
}

td.numeric {
    text-align: right;
}

td, th {
    border: 0.1rem solid black;
    padding: 0.5rem;
}

th {
    background-color: darkgray;
}