.macros:hover {
    border-color: #b8b8b8;
    cursor: pointer;
}

.macros > header {
    display: flex;
    justify-content: space-between;
}

.macros > header > div:first-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.macros > header > div:last-of-type {
    font-weight: normal;
}

.macros > main {
    display: flex;
    justify-content: space-between;
}

.macros > main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.macros > main > div > div:first-of-type {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.macros > main > div > div:last-of-type {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}