<!DOCTYPE html>

<html ng-controller='StatisticsController'>
    <head>
        <title>Statistics</title>

        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js'></script>
        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
        <script type='application/javascript' src='//www.google.com/jsapi'></script>

        <script type='application/javascript' src='/statistics.js'></script>

        <script type="application/javascript">
            google.setOnLoadCallback(function() {
                angular.bootstrap(document, ['nutrition']);
            });
            google.load('visualization', '1', {packages: ['corechart']});
        </script>

        <link rel='stylesheet' href='/style.css'/>

        <style type="text/css">
            #chart {
                height: 25rem;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Statistics</h1>
            <div>This page shows some nutrient statistics.</div>
        </header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <main>
            <section class="card">
                <header>Averages</header>
                <main>
                    <p>
                        From: <input type="date" ng-model="from"/>
                        To: <input type="date" ng-model="to"/>
                        <button ng-click="updateStatistics()">Update</button>
                        ({{statistics.days.length}} days)
                    </p>

                    <table>
                        <tr>
                            <td>Energy: {{statistics.averages.energy / 1000 | number: 0}}kJ</td>
                        </tr>
                        <tr>
                            <td>Proteins: {{statistics.averages.proteins | number: 0}}g</td>
                            <td>{{statistics.averages.ratio('proteins') * 100 | number: 0}}%</td>
                        </tr>
                        <tr>
                            <td>Carbs: {{statistics.averages.carbs | number: 0}}g</td>
                            <td>{{statistics.averages.ratio('carbs') * 100 | number: 0}}%</td>
                        </tr>
                        <tr>
                            <td>Fats: {{statistics.averages.fats | number: 0}}g</td>
                            <td>{{statistics.averages.ratio('fats') * 100 | number: 0}}%</td>
                        </tr>
                        <tr>
                            <td>Fruits: {{statistics.averages.fruits | number: 0}}g</td>
                        </tr>
                        <tr>
                            <td>Vegetables: {{statistics.averages.vegetables | number: 0}}g</td>
                        </tr>
                    </table>
                </main>
            </section>
            <section class="card">
                <header>Chart</header>
                <main>
                    <div id='chart'></div>
                    <p>
                        <input type='checkbox' ng-model='statistics.selection.energy.active' ng-change='drawChart()'/>Energy
                        <input type='checkbox' ng-model='statistics.selection.proteins.active' ng-change='drawChart()'/>Proteins
                        <input type='checkbox' ng-model='statistics.selection.carbs.active' ng-change='drawChart()'/>Carbs
                        <input type='checkbox' ng-model='statistics.selection.fats.active' ng-change='drawChart()'/>Fats
                        <input type='checkbox' ng-model='statistics.selection.fruits.active' ng-change='drawChart()'/>Fruits
                        <input type='checkbox' ng-model='statistics.selection.vegetables.active' ng-change='drawChart()'/>Vegetables
                    </p>
                </main>
            </section>
            <section class="card" ng-repeat="day in days">
                <header>{{day.date | date: 'MMMM d, yyyy'}}</header>
                <main>
                    <table>
                        <tr>
                            <th>Energy</th>
                            <td>{{day.energy / 1000 | number: 0}}kJ</td>
                        </tr>
                        <tr>
                            <th>Proteins</th>
                            <td>{{day.proteins | number: 0}}g</td>
                        </tr>
                        <tr>
                            <th>Carbs</th>
                            <td>{{day.carbs | number: 0}}g</td>
                        </tr>
                        <tr>
                            <th>Fats</th>
                            <td>{{day.fats | number: 0}}g</td>
                        </tr>
                        <tr>
                            <th>Fruits</th>
                            <td>{{day.fruits | number: 0}}g</td>
                        </tr>
                        <tr>
                            <th>Vegetables</th>
                            <td>{{day.vegetables | number: 0}}g</td>
                        </tr>
                    </table>
                </main>
            </section>
        </main>
    </body>
</html>
