<!DOCTYPE html>

<html ng-app='nutrition' ng-controller='SynchronizationController'>
    <head>
        <title>Statistics</title>

        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js'></script>
        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
        <script type='application/javascript' src='//www.google.com/jsapi'></script>

        <script type='application/javascript' src='/synchronization.js'></script>

        <link rel='stylesheet' href='/style.css'/>
        <style type='text/css'>
            .warning {
                color: red;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            button:disabled {
                background-color: #bfbfbf;
                border-color: #bfbfbf;

            }
        </style>
    </head>
    <body>
        <header>
            <h1>Synchronization</h1>
            <div>This page allows you to synchronize nutrients and days from the legacy nutrient module.</div>
        </header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <main>
            <section class="card">
                <header>Synchronize</header>
                <main>
                    <div class='warning'>WARNING: Synchronizing will override all local changes!</div>
                    <button ng-disabled='!armed' ng-click='synchronize()'>Synchronize legacy nutrient module</button>
                    <input type='checkbox' ng-model='armed'/>Arm button
                    <div>
                        <output>{{status}}</output>
                    </div>
                </main>
            </section>
        </main>
    </body>
</html>
