<!DOCTYPE html>

<html ng-app='nutrition' ng-controller='NutrientController'>
    <head>
        <title>{{nutrient.name}}</title>

        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js'></script>
        <script type='application/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
        <script type='application/javascript' src='//www.google.com/jsapi'></script>

        <script type='application/javascript' src='/utilities.js'></script>
        <script type='application/javascript' src='/nutrients.js'></script>

        <link rel='stylesheet' href='/style.css'/>
    </head>
    <body>
        <header>
            <h1>{{nutrient.name}}</h1>
            <div>This page shows an overview of the information of an individual nutrient.</div>
        </header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <main>
            <section class='card'>
                bla
            </section>
        </main>
    </body>
</html>
